:root {
    background-color: rgb(29, 26, 26)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;

}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

p {
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    color: white;
}

.container {
    width: 100vh;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.text-center {
    text-align:center;
}

.hidden {
    display: none;
}

.button {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, rgb(236, 14, 125) 0%, rgb(236, 14, 218) 100%);
}

.button:hover {
    cursor:help;
    box-shadow: 0 0.3rem 1rem 0 purple;
    transition: transform 100ms;
    transform: scale(1.05);
}