
body {
    background-color: grey;
}

.container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border-radius:  50px;

}